@model ClaimsBasesAuthorizationApplication.Dtos.LoginDto

<h1>Login</h1>

<hr/>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12" method="post" asp-controller="Account" asp-action="Login">
    <div class="mb-2">
        <label asp-for="Email" class="form-label small">Email</label>
        <input asp-for="Email" class="form-control" type="email">
        <span asp-validation-for="Email" class="text-danger small"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Password" class="form-label small">Password</label>
        <input asp-for="Password" class="form-control" type="password">
        <span asp-validation-for="Password" class="text-danger small"></span>
    </div>
    <hr/>
    <div class="d-grid gap-2 mb-4">
        <button type="submit" class="btn btn-primary shadow-none">Sign In</button>
    </div>
    <div>
        <p class="small">Don't have an account? <a asp-controller="Account" asp-action="Register" class="link-primary">Register</a></p>
    </div>
</form>